@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded
}
button:hover {
    @apply bg-blue-700
}

input {
    @apply shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight
}
input:focus {
    @apply outline-none shadow-outline
}

header {
    @apply bg-teal-400 text-gray-100
}

header h1 {
    @apply text-center text-5xl font-sans
}

footer {
    @apply bg-teal-800 text-gray-100 font-sans p-8
}

main {
    @apply flex flex-row items-start justify-around p-4
}

.section_title {
    @apply font-bold text-lg
}

section.controller {
    @apply w-1/4 rounded overflow-hidden shadow-lg p-4
}

section.preview {
    @apply w-8/12 rounded overflow-hidden shadow-lg p-4 flex flex-col
}

section.preview .svg_container {
    height: auto;
    overflow: hidden;
    display: inline-block;
}
section.preview svg {
    width: 100%;
    height: 100%
}
section.preview .button_container {
    @apply text-center
}
